/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-2041 {
    /* 200px - 300px - top leaving extra space for the navigation */
    /* 60px - 100px bottom */
    padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem clamp(3.75rem, 7.82vw, 6.25rem);
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-2041 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* 60px - 180px */
    gap: clamp(3.75rem, 13vw, 11.25rem);
  }
  #hero-2041 .cs-content {
    text-align: center;
    width: 100%;
    max-width: 53.125rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #hero-2041 .cs-topper {
    color: var(--primary);
    border-radius: 0.25rem;
    position: relative;
    z-index: 1;
  }
  #hero-2041 .cs-title {
    /* 39px - 80px */
    font-size: clamp(2.4375rem, 6vw, 5rem);
    max-width: 20ch;
    color: var(--bodyTextColorWhite);
  }
  #hero-2041 .cs-text {
    max-width: 35.25rem;
    margin-bottom: 2rem;
    color: var(--bodyTextColorWhite);
  }
  #hero-2041 .cs-form {
    width: 100%;
    margin: 0;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
  }
  #hero-2041 .cs-label {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #hero-2041 .cs-flex {
    display: inline-flex;
    justify-content: flex-start;
    gap: 0;
  }
  #hero-2041 .cs-color {
    color: #ff4747;
  }
  #hero-2041 .cs-input {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5em;
    padding: 1rem;
    background-color: #f7f7f7;
    color: #767676;
    border: none;
    border-radius: 0.5rem;
  }
  #hero-2041 .cs-submit {
    width: max-content;
    align-self: center;
    padding: 0.0625rem 1rem;
  }
  #hero-2041 .cs-background {
    width: 100%;
    height: 66%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-2041 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    opacity: 0.48;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-2041 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-2041 .cs-form {
    flex-direction: row;
    align-items: flex-end;
  }
  #hero-2041 .cs-submit {
    /* causes the submit button to grow to it's "auto" width and shrinks the inputs. this makes everything fit within cs-form */
    flex: 1 0 auto;
    align-self: flex-end;
  }
  #hero-2041 .cs-label {
    width: 100%;
    min-width: 0;
  }
  #hero-2041 .cs-background {
    height: 84%;
  }
}
/* Large Desktop - Parallax Effect - 1600px */
@media only screen and (min-width: 100rem) {
  #hero-2041 .cs-background {
    background: url("/assets/images/website-development.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #hero-2041 .cs-background img {
    display: none;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1169 {
    background-color: #fff;
    padding: var(--sectionPadding);
  }
  #services-1169 .cs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* changes to 1440px at large desktop */
    max-width: 51.5rem;
    width: 100%;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1169 .cs-content {
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    width: 100%;
    /* set text align to left if content needs to be left aligned */
    text-align: center;
  }
  #services-1169 .cs-title {
    max-width: 20ch;
  }
  #services-1169 .cs-card-group {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(12, 1fr);
    margin: 0;
    width: 100%;
    padding: 0;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1169 .cs-item {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f7f7f7;
    width: 100%;
    list-style: none;
    text-align: left;
    grid-column: span 12;
    max-width: 25rem;
    margin: 0 auto;
  }
  #services-1169 .cs-item:hover .cs-picture img {
    transform: scale(1.2);
  }
  #services-1169 .cs-item:hover .cs-h3,
  #services-1169 .cs-item:hover .cs-link {
    color: var(--primary);
  }
  #services-1169 .cs-item:hover .cs-arrow {
    filter: initial;
  }
  #services-1169 .cs-picture {
    position: relative;
    display: block;
    /* 180px - 240px */
    height: clamp(11.25rem, 24vw, 15rem);
    width: 100%;
    /* clips the image from overflowing parent on hover */
    overflow: hidden;
  }
  #services-1169 .cs-picture img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.65s;
  }
  #services-1169 .cs-info {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }
  #services-1169 .cs-h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
    transition: background-color 0.3s;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    transition: color 0.3s;
  }
  #services-1169 .cs-item-text {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    text-align: inherit;
    margin: 0;
  }
  #services-1169 .cs-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--headerColor);
    text-align: inherit;
    margin-top: 1.25rem;
    transition: color 0.3s;
  }
  #services-1169 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #services-1169 .cs-arrow {
    filter: grayscale(1) brightness(0);
    display: block;
    height: auto;
    width: 1.25rem;
    transition: filter 0.3s, transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1169 .cs-container {
    max-width: 59rem;
  }
  #services-1169 .cs-item {
    grid-column: span 4;
    max-width: initial;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1169 .cs-container {
    max-width: 90rem;
  }
}
/*-- -------------------------- -->
<---       Side by Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1980 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    background-color: #f3fcfb;
  }
  #sbs-1980 .cs-container {
    width: 100%;
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1980 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #sbs-1980 .cs-title,
  #sbs-1980 .cs-text {
    max-width: none;
  }
  #sbs-1980 .cs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1980 .cs-ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  #sbs-1980 .cs-li {
    list-style: none;
    margin: 0;
    /* 24px - 32px */
    padding: 0 0 2rem 0;
    border-bottom: 1px solid var(--primaryLight);
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }
  #sbs-1980 .cs-li:last-of-type {
    padding: 0;
    border: none;
  }
  #sbs-1980 .cs-li-icon {
    /* 64px - 80px */
    width: clamp(4rem, 8vw, 5rem);
    height: auto;
    display: block;
  }
  #sbs-1980 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: left;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #sbs-1980 .cs-li-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
    opacity: 0.8;
  }
  #sbs-1980 .cs-image-group {
    width: 100%;
    height: 42.5rem;
    max-height: 47rem;
    position: relative;
    z-index: 1;
    display: none;
  }
  #sbs-1980 .cs-box {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    border-top: 32px solid #fff;
    border-radius: 0 16px 0 0;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
  }
  #sbs-1980 .cs-box:before {
    content: "";
    width: 100%;
    height: calc(100% + 32px);
    /* Increase height to cover the border-top area */
    border-radius: 0 16px 0 0;
    background-color: #e6f3ff;
    position: absolute;
    top: -32px;
    left: 0;
    z-index: -1;
    /* Remove the bottom: -32px; line */
  }
  #sbs-1980 .cs-topper {
    z-index: 1;
  }
  #sbs-1980 .cs-h2 {
    font-size: 1.9375rem;
    font-weight: 900;
    line-height: 1.2em;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
    z-index: 10;
  }
  #sbs-1980 .cs-box-ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #sbs-1980 .cs-box-li {
    /* 14px - 18px */
    font-size: clamp(0.875rem, 1.3vw, 1.125rem);
    line-height: 1.5em;
    list-style: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    position: relative;
  }
  #sbs-1980 .cs-icon {
    /* 24px - 32px */
    width: clamp(1.5rem, 3vw, 2rem);
    height: auto;
    display: block;
  }
  #sbs-1980 .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1980 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1980 .cs-image-group {
    height: clamp(36.25rem, 72.5vw, 47rem);
    display: block;
  }
  #sbs-1980 .cs-box {
    width: 60%;
    padding: clamp(2rem, 6vw, 3.75rem) clamp(1.5rem, 3vw, 2.5rem);
    border-right: 32px solid #fff;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1980 .cs-container {
    max-width: 80rem;
  }
  #sbs-1980 .cs-wrapper {
    flex-direction: row;
    align-items: stretch;
  }
  #sbs-1980 .cs-ul {
    max-width: 27.5rem;
    order: 2;
  }
  #sbs-1980 .cs-image-group {
    height: auto;
    max-height: 100%;
    width: 55%;
  }
  #sbs-1980 .cs-box {
    width: 80%;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #sbs-1980 .cs-ul {
    max-width: 29.875rem;
  }
  #sbs-1980 .cs-box {
    width: 70%;
  }
}
/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1675 {
    padding: var(--sectionPadding);
    padding-left: 0;
    padding-right: 0;
  }
  #steps-1675 .cs-container {
    width: 100%;
    /* changes to 1920px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-1675 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #steps-1675 .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    max-width: 32.625rem;
  }
  #steps-1675 .cs-card-group {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: stretch;
    grid-auto-flow: row;
  }
  #steps-1675 .cs-item {
    list-style: none;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    /* bottom border */
  }
  #steps-1675 .cs-item::after {
    content: "";
    width: 100%;
    height: 1px;
    /* to change the color of the bottom border, adjust the second color (at 50%). the first and third will blend the color to transparent */
    /* note you'll also have to change the color in the tablet media query when the lines go vertical */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #bababa 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #steps-1675 .cs-item:first-of-type {
    padding-top: 0;
  }
  #steps-1675 .cs-item:last-of-type {
    padding-bottom: 0;
  }
  #steps-1675 .cs-item:last-of-type::after {
    content: none;
  }
  #steps-1675 .cs-number {
    /* 80px - 100px */
    font-size: clamp(5rem, 1vw, 6.25rem);
    font-weight: 900;
    line-height: 1.2em;
    color: var(--primary);
    opacity: 0.12;
    display: block;
  }
  #steps-1675 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: -1.9375rem 0 1rem 0;
    color: var(--headerColor);
  }
  #steps-1675 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1675 .cs-container {
    max-width: 120rem;
  }
  #steps-1675 .cs-card-group {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
  #steps-1675 .cs-item {
    /* 24px - 60px */
    padding: clamp(1.5rem, 3vw, 3.75rem);
    /* the specificity of the mobile .cs-item means we need to explicitly define the first and last items here, too */
  }
  #steps-1675 .cs-item::after {
    width: 1px;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #bababa 50%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.6;
    right: 0;
    left: initial;
  }
  #steps-1675 .cs-item:first-of-type,
  #steps-1675 .cs-item:last-of-type {
    /* 24px - 60px */
    padding: clamp(1.5rem, 3vw, 3.75rem);
  }
}
/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-51 {
    background-color: #f7f7f7;
    padding: var(--sectionPadding);
    position: relative;
  }
  #cta-51 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-51 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #cta-51 .cs-title {
    color: var(--headerColor);
  }
  #cta-51 .cs-text {
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
    opacity: 0.8;
  }
  #cta-51 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #cta-51 .cs-button-solid-dark {
    line-height: 3.5rem;
    padding: 0 3.5rem 0 3.5rem;
    border-radius: 30px;
  }
  #cta-51 .cs-button-transparent {
    border: 1px solid #111;
    color: #111;
  }
  #cta-51 .cs-button-transparent:hover {
    background-color: #111;
    color: #fff;
  }
  #cta-51 .cs-picture {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta-51 .cs-picture:before {
    /* black color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.8;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-51 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
